@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



footer {
  position: sticky;
  bottom: 0;
}

header {
  z-index: 9999;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: 300px; /* Adjust the width as per your preference */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.card img {
  width: 100%; /* Ensures the image fills the card container */
  height: 175px;
  object-fit: cover;
  border-radius: 4px;
}

header nav a {
  margin-right: 1rem;
  color: palevioletred;
  &:hover {
    color: aqua;
    transform: scale(1.1);
    transition: color 200ms ease;
  }
}

.left-items {
  justify-self: start;
}

.right-items {
  justify-self: end;
}

.return-top-button {
  color: turquoise;
  backface-visibility: hidden;
  transition: all 150ms ease;
  &:hover {
    transform: scale(1.1);
    color: yellow;
    transition: color 200ms ease; /* fade to magenta over 500ms */
  }
}

html {
  scroll-behavior: smooth;
  background: black;
}

.gradient-title {
  background: linear-gradient(to bottom, greenyellow, aqua, palevioletred, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sticky-header {
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  color: cyan;
  font-size: 1.8rem;
  top: -100px;
  left: 0;
  width: 100%;
  background-color: #00000000;
  transition: top 0.3s ease-in-out;
}

.sticky-header.visible {
  top: 0;
}

#work__title {
  font-size: 5rem;
  display: grid;
  font-style: italic;
  margin-left: 15vh;
  text-shadow: -4px 3px 3px rgb(251 0 255 / 54%);
  font-family: "Roboto";
}

#about__title {
  font-size: 5rem;
  display: grid;
  font-style: italic;
  margin-left: 15vh;
  text-shadow: -4px 3px 3px rgba(0, 251, 255, 0.54);
  font-family: "Roboto";
}

#contact__title {
  font-size: 5rem;
  display: grid;
  font-style: italic;
  margin-left: 15vh;
  text-shadow: -4px 3px 3px rgba(136, 255, 0, 0.54);
  font-family: "Roboto";
}

.triangle {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top left, transparent 50%, black 0);
  background-size: 100 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}

.top-triangle {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, transparent 50%, black 0);
  background-size: 100 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}

:root {
  font-size: 16px;

  --link-translate-x: 3rem;
}

body {
  width: 100%;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  background: #000;
  //overflow: hidden;
  color: white;
  font-family: "Roboto";
  font-size: 1.5rem;
}

section {
  background: linear-gradient(top right, #333333, #666666);;
  color: palevioletred
}

.large-section {
  min-height: 90vh;
}

.section-content {
  display: flex;
  justify-content: center;
  min-height: 75vh;
  padding: 3rem;
  padding-top: 2rem;
  color: rgb(202, 202, 202);
}

.work-item {
  background: rgb(144, 144, 139);
  width: 45vh;
  height: 40vh;
  border-radius: 3rem;
  border: 6px solid rgb(30, 31, 28);
  margin: 1rem;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.__main {
  background: black;
  height: 100vh;
}

a {
  text-decoration: none;
  &:focus {
    outline: none;
    border: none;
  }
}

.div {
  &__link {
    font-size: 5rem;
    color: #fff;
    display: grid;
    font-style: italic;
    justify-content: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;

    &--text {
      grid-area: 1/1;
      transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      .word {
        white-space: nowrap;
      }
      .char {
        display: inline-block;
        transform-origin: 50% 50% 0.4em;
        transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
        transition-delay: calc(0ms + var(--char-index) * 25ms);
        backface-visibility: hidden;
        margin: 0 -0.02em;
      }
    }

    &--title {
      font-family: "Roboto";
      color: greenyellow;
      font-weight: 500;
    }

    &--text:nth-child(1) {
      font-family: "Playfair Display";
      color: aqua;
      font-weight: 500;
    }
    &--text:nth-child(2) {
      font-family: "Roboto";
      color: palevioletred;
      font-weight: 500;
      opacity: 0;
      .char {
        transform: rotate3d(1, -0.5, 0, 90deg);
        // OR
        // transform: rotateX(90deg) rotateY(-45deg);
      }
    }

    &:hover {
      .nav__link--text {
        transform: translateX(var(--link-translate-x));
        &:nth-child(1) {
          opacity: 0;
          .char {
            transform: rotate3d(1, 0.3, 0, -90deg);
            // OR
            // transform: rotateX(-90deg) rotateY(-27deg);
          }
        }
        &:nth-child(2) {
          opacity: 1;
          .char {
            transform: rotate3d(0, 0, 0, 90deg);
            // OR
            // transform: rotate(0);
          }
        }
      }
    }
  }
}

.nav {
  &__link {
    font-size: 5rem;
    color: #fff;
    display: grid;
    font-style: italic;
    justify-content: center;

    &--text {
      grid-area: 1/1;
      transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      .word {
        white-space: nowrap;
      }
      .char {
        display: inline-block;
        transform-origin: 50% 50% 0.4em;
        transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
        transition-delay: calc(0ms + var(--char-index) * 25ms);
        backface-visibility: hidden;
        margin: 0 -0.02em;
      }
    }

    &--text:nth-child(1) {
      font-family: "Playfair Display";
      color: aqua;
      font-weight: 500;
    }
    &--text:nth-child(2) {
      font-family: "Roboto";
      color: palevioletred;
      font-weight: 500;
      opacity: 0;
      .char {
        transform: rotate3d(1, -0.5, 0, 90deg);
        // OR
        // transform: rotateX(90deg) rotateY(-45deg);
      }
    }

    &:hover {
      .nav__link--text {
        transform: translateX(var(--link-translate-x));
        &:nth-child(1) {
          opacity: 0;
          .char {
            transform: rotate3d(1, 0.3, 0, -90deg);
            // OR
            // transform: rotateX(-90deg) rotateY(-27deg);
          }
        }
        &:nth-child(2) {
          opacity: 1;
          .char {
            transform: rotate3d(0, 0, 0, 90deg);
            // OR
            // transform: rotate(0);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 20rem) {
  :root {
    font-size: 10px;
    --link-translate-x: 2rem;
  }
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
  a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.headshot {
  height: 400px;
  width: 300px;
}

.return-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 10vh;

  a {
    margin: 0 10px;
    color: turquoise;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
    padding: 2%;
    &:hover {
      transform: scale(1.1);
      color: yellow;
      transition: color 200ms ease; /* fade to magenta over 500ms */
    }
  }
}

.rotate-box {
  position: relative;
  /*display: inline-block;*/
  animation: rotate 5s ease-in-out infinite;
}

.grow-text {
  animation: grow 8s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes grow {
  0% {
    font-size: 5.1rem;
    transform: scale(1);
    background-position: 0 0;
  }
  25% {
    background-position: 0 1em;
  }
  50% {
    font-size: 5.2rem;
    transform: scale(1.1);
    background-position: 0 0;
  }
  75% {
    background-position: 0 1em;
  }
  100% {
    font-size: 5.1rem;
    transform: scale(1);
    background-position: 0 0;
  }
}